<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <p>Seeking a position to utilize my skills and abilities with approx. <b><u>13 years 5 months of experience</u></b> (approx. 5 years of development+devops at Concentrix, 8.5 years of development) in the Information Technology Industry that offers
                professional growth while being resourceful, innovative and flexible. I want to work with a professional organization where I will be able to develop my skills along with some challenging projects to handle with latest technology.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>FullStack Developer &amp; Backend Web Developer.</h3>
                <p class="fst-italic">
                    In spite of mainly worked in backend development with various Java/JEE frameworks, I have good exposure to latest Frontend technologies(e.g. Angular, ReactJS, AdobeFlex, Bootstrap, HTML5, CSS3).
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 May 1986</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>premendra.bce05515@gmail.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91-8010645624</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Faridabad, Haryana, India</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>37</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B. Tech(CSE)</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Expertise:</strong> <span>Java/JEE</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                    </div>
                </div>
                <p>
                    During my carreer, I have worked in various projects with varying technologies and successfully implemented new functionalities, which became profitable for organization. <br> During my carreer journey, I have learnt various ways to
                    create views in latest frontend technologies and made communication of these views with backend services mainly created with latest Java/JEE technologies. <br> I have good exposure with Java 8, Spring, Spring Boot, Different ORM Frameworks
                    (e.g. Hibernate, MyBatis). <br> I have deployed web application in various Servers (e.g. Tomcat, Weblogic, WebSphere) hosted in Linux/Windows environments.

                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->