<!-- ======= Hero Section ======= -->
<app-hero></app-hero>
<!-- End Hero -->

<main id="main">
    <app-my-desired-role></app-my-desired-role>
    <!-- ======= About Section ======= -->
    <app-about></app-about>
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Facts</h2>
                <div>
                    <ul>
                        <li>Worked in more than 16 projects having different technology stacks.</li>
                        <li>worked as Team Lead for 3 years and successfully delivered new functionality for implementation of NSDL/CDSL Edis 3rd party Resful web services in shubhweb application.</li>
                        <li>Good exposure of cloud services with AWS</li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Happy Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="16" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projects</p>
                    </div>
                </div>

            </div>

        </div>
    </section> -->
    <app-facts></app-facts>
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <app-skills></app-skills>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <app-resume></app-resume>
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <app-projects></app-projects>
    <!-- End Portfolio Section -->

</main>