<h1>Example 1</h1>
<div class="example-box" cdkDragLockAxis="y" cdkDrag>
    I can only be dragged up/down
</div>

<div class="example-box" cdkDragLockAxis="x" cdkDrag>
    I can only be dragged left/right
</div>

<hr>
<h1>Example 2</h1>
<div class="example-boundary">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
        I can only be dragged within the dotted container
    </div>
</div>

<hr>
<h1>Example 3</h1>

<div cdkDropListGroup>
    <div class="example-container">
        <h2>To do</h2>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop3($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop3($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>


<h1>Example 4</h1>
<div class="example-container">
    <h2>To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
        class="example-list" (cdkDropListDropped)="drop4($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
    </div>
</div>

<div class="example-container">
    <h2>Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop4($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
</div>

<h1>Example 5</h1>
<div cdkDropList class="example-list" (cdkDropListDropped)="drop5($event)">
    <div class="example-box" *ngFor="let movie of movies" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{movie}}
    </div>
</div>