<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Seeking a position to utilize my skills and abilities with approx. <b><u>13 years 5 months of experience</u></b> (approx. 5 years of development+devops at Concentrix, 8.5 years of development) in the Information Technology Industry that offers
                professional growth while being resourceful, innovative and flexible. I want to work with a professional organization where I will be able to develop my skills along with some challenging projects to handle with latest technology.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Premendra Kumar</h4>
                    <p><em>Innovative and deadline-driven FullStack/Backend Developer with 13.5+ years of experience designing and developing user-centered backend services and views from initial concept to final, polished deliverable.</em></p>
                    <ul>
                        <li>Faridabad, Haryana, India</li>
                        <li>+91- 80106 45624/ +91- 87500 84750</li>
                        <li>premendra.bce05515@gmail.com, premendra.bce05515@outlook.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Engineering, Computer Science and Engineering</h4>
                    <h5>2005 - 2009</h5>
                    <p><em>B. C. E. Bhagalpur, Bihar</em></p>
                </div>
                <div class="resume-item">
                    <h4>Intermediate of Science, Mathematics</h4>
                    <h5>2002 - 2004</h5>
                    <p><em>M. S. College, Motihari, Bihar</em></p>
                </div>
                <div class="resume-item">
                    <h4>Matriculation</h4>
                    <h5>2001 - 2002</h5>
                    <p><em>Gopal Sah Vidyalaya, Motihari, Bihar</em></p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Backend developer</h4>
                    <h5>Dec 2022 to Feb 2023</h5>
                    <p><em>EVC Ventures, Gurgaon, India </em></p>
                    <ul>
                        <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li>
                        <li>Development in “IITD-Admin” and "SPortal" application. Technologies used are Java/J2EE, Spring Boot, Spring REST, MyBatis, Spring MVC, Bootstrap, ReactJS.</li>
                        <li>Added code for new requirements (Store and Purchase module)</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Project Leader</h4>
                    <h5>Oct 2021 to Dec 2022</h5>
                    <p><em>RSystems International Pvt Ltd, Noida, India</em></p>
                    <ul>
                        <li>Development in “Ephesoft Transact” application. Technologies used are Java/J2EE, Spring Boot, Spring REST, Hibernate, Oracle 12g, GWT, Bootstrap, Angular.</li>
                        <li>Added code for new requirements (SRE service integration)</li>
                        <li>Served Scrum master responsibility to manage sprints</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Developer</h4>
                    <h5>Jan 2021 to Feb 2021</h5>
                    <p><em>Mynd Integrated Solutions Ltd, Gurgaon, India</em></p>
                    <ul>
                        <li>Development in “m1xchange” application. Technologies using Java/J2EE, , SQL Server, Spring Boot, Bootstrap.</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Team Lead</h4>
                    <h5>Sep 2019 to Oct 2021</h5>
                    <p><em>Dhani stocks Limited, <u>(formerly Indiabulls security Ltd , Indiabulls ventures ltd)</u>, Gurgaon, India</em></p>
                    <div class="resume-tenure">
                        <ul>
                            <li><em>Senior Software Engineer, Sep 2019 to Jan 2021</em></li>
                            <li><em>Team Lead, Mar 2021 to Oct 2021</em></li>
                        </ul>
                    </div>
                    <ul>
                        <li>Development in “ShubhWeb” application. Technologies used are Java/J2EE, Spring Boot, Spring Batch, Spring REST, Hibernate, Oracle 12g, ReactJS, Bootstrap.</li>
                        <li>Worked for development of helper applications Notis API, KRA, SFTP projects</li>
                        <li>Worked as Team Lead and successfully delivered new functionality for implementation of NSDL/CDSL Edis 3rd party Resful web services in shubhweb application.</li>
                        <li>Migrated code from SVN to GITLab and GitHub Server </li>
                        <li>Served Scrum master responsibility to manage sprints</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Engineer</h4>
                    <h5>Mar 2017 to July 2017</h5>
                    <p><em>Accenture, Mumbai, India</em></p>
                    <ul>
                        <li>Development in ZVR4 Data Migration project with Talend tool and java API (Spring Batch, multithreading)</li>
                        <li>Worked to write java code to parallel process the blob data of table of legacy database and save to target database.</li>
                        <li>Co-ordinated with client team at Germany location to gather requirements</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                        <li><b>Note:-</b> Due to health issues, I returned back to home post this small tenure in Bangalore and Mumbai.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Assistant Manager, IT Applications</h4>
                    <h5>Jan 2014 to Sep 2019</h5>
                    <p><em>Concentrix Daksh Services India Private Limited, Gurgaon, India</em></p>
                    <div class="resume-tenure">
                        <ul>
                            <li><em>Software Developer (L2/L3), Contractual, Payroll COMPANY: WDC, Jan 2014 to Dec 2014</em></li>
                            <li><em>Assistant Manager, IT Applications, Jan 2015 to Mar 2017</em></li>
                            <li><em>Assistant Manager, IT Applications, Nov 2017 to Sep 2019</em></li>
                        </ul>
                    </div>
                    <ul>
                        <li>Worked in 2014 as L2/L3 support Engineer contractual employee from WDC, deployed in Concentrix India. During this period I worked with software development team of WebDOTS 4.1, QAA using Java, J2EE, Hibernate, JSF, and Struts2.
                            These application runs on IBM WebSphere 8.</li>
                        <li>During 2015-17 I worked for development of Zetta application using Java, J2ee, AngularJS, REST, and Hibernate. Also I worked as DevOps engineer to configure Zetta application environments on AWS cloud using Jenkins, JIRA, AWS,
                            BitBucket, Chef scripts.</li>
                        <li>Post 6 months gap, I rejoined Concentrix and worked for duration 2017-2019 for development of “Global Incentive Program(GIP)” application. Technologies used are Java/J2EE, Spring Boot, Hibernate, MySQL, AngularJS, Bootstrap.</li>
                        <li>Provided L2/L3 level support to WebDOTS 4.1, QAA application.</li>
                        <li>Updated and create incident management tickets in the ticket tracking application</li>
                        <li>Identified defects within WebDOTS 4.1, QAA application</li>
                        <li>Provided support for the successful deployment of multiple iterations of the WebDOTS 4.1, QAA application.</li>
                        <li>Provided L2/L3 level support to Zetta application.</li>
                        <li>Create, monitor and update defects in Jira</li>
                        <li>Installed applications in AWS environment using Jenkins, and AWS Cloudformation</li>
                        <li>Provided support for the successful deployment of multiple iterations of the Zetta application</li>
                        <li>Provided L2/L3 level support to GainManager and ResolveJiffy application.</li>
                        <li>Wrote and executed SQL queries for reporting and research purposes.</li>
                        <li>Provided support for the successful deployment of multiple iterations of the GM and RJ application</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release. This resulted increased efficiency in batch processing with no errors or transmissions missed and thus reduced the number of incidents.</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Application Developer</h4>
                    <h5>May 2012 to Dec 2013</h5>
                    <p><em>Novelvox Software India Pvt Ltd (previously known as Integration Services & Technologies India PVT LTD), Faridabad, India</em></p>
                    <ul>
                        <li>Development for iAgent web application to develop service generation module and service invocation module using Java, J2ee, JDBC, Apache Solr, Hibernate Flex4, CSS, JavaScript to develop views and backend services</li>
                        <li>Developed REST services to upload Pdf documents and used <b>Apache Solr</b> to create indexes for all uploaded pdf documents, so that search for given text could be faster</li>
                        <li>Worked in Agile mehodology to gather requirements from clients and created Epics and created stories for implementation</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>March 2011 to May 2012</h5>
                    <p><em>HCL Infosystems Ltd, Noida, India</em></p>
                    <ul>
                        <li>Worked as contractual employee from HCL Infosystems LTD, deployed in NIC</li>
                        <li>Development in CIPA (Common Integrated Police Application), for upgradation as CIPRUS for state specific requirements. Technologies used are JAVA, Swings, JDBC and implemented under open source environment viz. Linux (OS), PostgreSQL
                            (RDBMS).</li>
                        <li>Added code for new requirements</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                        <li>The Common Integrated Police Application (CIPA) is a multilingual application to automate the processes (workflow) at primary sources of data itself e.g. Police Station and to build a crime & criminal Information system based on
                            CrPC. It provides an efficient way of organizing crime records for generating queries/reports and crime analysis for decision support.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software Developer</h4>
                    <h5>Sept 2009 to Feb 2011</h5>
                    <p><em>GreenApple WebWare, New Delhi, India</em></p>
                    <ul>
                        <li>Development in Online Shopping Cart Application using java, JSP, Servlets, JDBC, Apache tomcat 5, HTML, CSS, jQuery, AJAX</li>
                        <li>Worked with team to guide for assigned task. </li>
                        <li>Fixed bugs identified by support team and shared through Jira</li>
                        <li>Worked with vendor and project management team on a code change and new fix in upcoming Release.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Resume Section -->