<!-- <input type="text" [(ngModel)]="name">
<p>{{ name }}</p> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am in App component</h3>

      <h1>Practiced till lecture # 41</h1>
      <hr />



      <app-servers></app-servers>

      <!-- <div app-servers></div> -->

      <!-- <div class="app-servers"></div> -->

      <div class="container prem-div-border">
        <div class="row">
          <div class="col-xs-12">
            <hr />
            <app-success-alert></app-success-alert>
            <hr />
            <app-warning-alert></app-warning-alert>

          </div>
        </div>
      </div>




      <hr />
      <div class="container prem-div-border">
        <div class="row">
          <div class="col-xs-12">
            <ol>
              <li>
                Add a Input field which updates a property ('userName') via
                Two-Way-Binding
              </li>
              <li>
                Output the userName property via String Interpolation (in a
                paragraph below the input)
              </li>
              <li>
                Add a button which may only be clickedif the userName is NOT an
                empty string
              </li>
              <li>
                Upon clicking the button, the userName should be reset to an
                empty string
              </li>
            </ol>

            <hr />

            <hr />
            <label>UserName</label>
            <input type="text" class="form-control" [(ngModel)]="userName" />
            <p>{{ userName }}</p>
            <button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">
              Reset User
            </button>
          </div>
        </div>
      </div>


      <div class="container prem-div-border">
        <div class="row">
          <div class="col-xs-12">
            <ol>
              <li>
                Add a Button which says 'Display Details'
              </li>
              <li>
                Add a paragraph with any content of your choice (e.g. 'Secret Password = secretP@ssworD')
              </li>
              <li>
                Toggle the displaying of that paragraph with the button created in first step
              </li>
              <li>
                Log all button clicks in an array and output that array below the seret paragraph (may be log a
                timestamp or simply an incrementing number)
              </li>
              <li>
                Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
                (ngClass)
              </li>
            </ol>

            <hr />

            <hr />
            <label>UserName</label>
            <input type="text" class="form-control" [(ngModel)]="userName" />
            <p>{{ userName }}</p>
            <button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">
              Reset User
            </button>
          </div>
        </div>
      </div>


      <hr><hr>
      <app-my-pages-db-backup-links [dbLinkData]="dbLinkData"></app-my-pages-db-backup-links>
      <app-my-pages-links [linkData]="linkData"></app-my-pages-links>





      <hr>



    </div>
  </div>
</div>
