<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="recipeForm.invalid"
                  class="btn btn-success"
                  style="margin-right: 5px"
                  type="submit"
          >Save
          </button>
          <button class="btn btn-danger"
                  (click)="onCancel()"
                  type="button"
          >Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   formControlName="name"
                   id="name"
                   type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input class="form-control"
                   formControlName="imagePath"
                   id="imagePath"
                   #imagePath
                   type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img class="img-responsive" [src]="imagePath.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Image Description</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="form-group">
            <div *ngFor="let ingredientCtrl of controls; let i = index"
                 [formGroupName]="i"
                 class="row"
                 style="margin-top: 10px;">
              <div class="col-xs-8">
                <input class="form-control"
                       formControlName="name"
                       type="text">
              </div>
              <div class="col-xs-2">
                <input class="form-control"
                       formControlName="amount"
                       type="number">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger"
                        type="button"
                        (click)="onDeleteIngredient(i)"
                >X
                </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12">
                <button (click)="onAddIngredient()"
                        class="btn btn-success"
                        type="button">Add Ingredient
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
