<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
            <p>Below are list of projects I have worked upon during my carrer.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <!-- <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Contractual</li>
                            <li data-filter=".filter-card">Permanent</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul> -->
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">IITD-Admin</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> EVC Ventures, Gurgaon <br>
                        <b>Duration: </b> Dec 2022 to Feb 2023
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot, Spring MVC, Spring Security, MyBatis, MySQL, Tomcat <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Added code for new requirements (Store and Purchase module) </li>
                            <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li>
                        </ul>

                        <b>About Project:- </b> This was the worst project I have worked so far. <br>

                    </div>
                    <a href="https://eadmin.iitd.ac.in/IITD-0/login" target="_blank" class="card-link">IITD-Admin website</a>
                    <a href="http://evc.ventures/" class="card-link">EVC Ventures website</a>
                </div>
            </div>
            <!-- ./ IITD-Admin -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">Ephesoft Transact</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> RSystems International Pvt Ltd <br>
                        <b>Duration: </b> Oct 2021 - Dec 2022
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java/Jee, GWT, Angular, Spring Boot, Spring Rest <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://ephesoft.com/" target="_blank" class="card-link">Ephesoft website</a>
                    <a href="https://ephesoft.com/products/transact/" target="_blank" class="card-link">Ephesoft Transact</a>
                    <a href="https://www.rsystems.com/" class="card-link">RSystems website</a>
                </div>
            </div>
            <!-- ./ Ephesoft Transact -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">ShubhWeb</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Dhani stocks Limited <br>
                        <b>Duration: </b> Sep 2019 - Oct 2021
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java/Jee, ReactJs, Nodejs, Spring Boot, Spring Rest <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://shubhweb.indiabulls.com/base/login" target="_blank" class="card-link">Shubhweb website</a>
                    <a href="https://www.dhanistocks.com/" class="card-link">DhaniStocks website</a>
                </div>
            </div>
            <!-- ./ ShubhWeb -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">Notis API</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Dhani stocks Limited <br>
                        <b>Duration: </b> Sep 2019 - Oct 2021
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java/Jee, Spring Boot, Spring Rest, Spring Scheduler <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.dhanistocks.com/" class="card-link">DhaniStocks website</a>
                </div>
            </div>
            <!-- ./ Notis API -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">JasperReports</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Dhani stocks Limited <br>
                        <b>Duration: </b> Sep 2019 - Oct 2021
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java/Jee, Spring Boot, JasperReports <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.dhanistocks.com/" class="card-link">DhaniStocks website</a>
                </div>
            </div>
            <!-- ./ JasperReports -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">GIP</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jan 2019 to Sep 2019
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server. Front end designed using Angular 8 and Bootstrap. <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ GIP -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">Gain Manager</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Nov 2017 to Sep 2019
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server, Hibernate and Struts2 Front end designed using Struts2 <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ Gain Manager -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">ResolveJiffy</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jan 2019 to Sep 2019
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server, Hibernate and Struts2 Front end designed using Struts2 <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ ResolveJiffy -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">ZVR4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Accenture <br>
                        <b>Duration: </b> Apr 2017 to Jul 2017
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Batch , Spring Data, Hibernate and Talend <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.accenture.com/in-en" target="_blank" class="card-link">Accenture website</a>
                    <a href="#!" class="card-link">EVC Ventures</a>
                </div>
            </div>
            <!-- ./ ZVR4 -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">Zetta</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jun 2015 to Mar 2017
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Restful web service project with AngularJS 2. Worked for AWS DevOps to create instances, configure and deploy application. <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ Zetta -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-app">
                    <h5 class="card-title">Econvey</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jan 2014 to May 2015
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server, Hibernate and Struts2 Front end designed using Struts2 <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ Econvey -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-app">
                    <h5 class="card-title">Webdots</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jan 2014 to May 2015
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server, Hibernate and Struts2 Front end designed using Struts2 <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ Webdots -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-app">
                    <h5 class="card-title">QAA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Concentrix Daksh Services India Private Limited <br>
                        <b>Duration: </b> Jan 2014 to May 2015
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Spring Boot , Spring REST, Spring Data for SQL Server, Hibernate and Struts2 Front end designed using Struts2 <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <!-- <li>Added code for new requirements (Store and Purchase module) </li>
                                    <li>Worked to add JavaMelody and ShedLock to monitor and improve performance of application</li> -->
                        </ul>

                        <b>About Project:- </b>
                        <!-- This was the worst project I have worked so far. <br> -->

                    </div>
                    <a href="https://www.concentrix.com/" class="card-link">Concentrix website</a>
                </div>
            </div>
            <!-- ./ QAA -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">iAgent 4.0</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Novelvox Software India Pvt Ltd <br>
                        <b>Duration: </b> May 2012 to Dec 2013
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java, J2ee, JDBC, Hibernate for backend service development and Flex4, CSS, JavaScript to develop views <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Developed service generation module and service invocation module views</li>
                            <li>Created services for views to save/update data in database</li>
                        </ul>

                        <b>About Project:- </b> iAgent is important part of the iSuite application, where admin creates widgets using its designer and upload custom jars having their own logic. Admin can create services from their uploaded Jars which
                        can be attached with created widget. This application speedup the process to develop new widget as per client requirement very quickly.

                    </div>
                    <a href="https://www.novelvox.com/" target="_blank" class="card-link">Novelvox website</a>
                    <a href="https://www.novelvox.com/unified-agent-desktops/" target="_blank" class="card-link">iAgent Desktop</a>
                </div>
            </div>
            <!-- ./ iAgent 4.0 -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">survey</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Novelvox Software India Pvt Ltd <br>
                        <b>Duration: </b> May 2012 to Dec 2013
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java, J2ee, JDBC, Hibernate for backend service development and Flex4, CSS, JavaScript to develop views <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Created views to configure questions and its answers for a survey. </li>
                            <li>Created backend services to store/retrieve/update questions, its answers, survey into database.</li>
                        </ul>

                        <b>About Project:- </b>
                        <b>Survey</b> application is used to configure question sets. These questions could be asked from BPO Agents to customer to speedup the issue analysis and resolution process. <br> This application is important part of the iSuite
                        application.


                    </div>
                    <a href="https://www.novelvox.com/" target="_blank" class="card-link">Novelvox website</a>
                </div>
            </div>
            <!-- ./ survey -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-card">
                    <h5 class="card-title">KnowledgeBase</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> Novelvox Software India Pvt Ltd <br>
                        <b>Duration: </b> May 2012 to Dec 2013
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java, J2ee, JDBC, Apache Solr, Hibernate for backend service development and Flex4, CSS, JavaScript to develop views <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Created views using Adobe Flex 4 </li>
                            <li>Created methods in backend RPC to communicate with frontend and database</li>
                        </ul>

                        <b>About Project:- </b>
                        <b>KnowledgeBase</b> application is used to create category in which related pdfs could be uploaded. This application is important part of the iSuite application. It helps BPO agents to provide related information so that they
                        could share requested information with End-users very quickly. <br> This application Also uses <b>Apache Solr</b> to create indexes for all uploaded pdf documents, so that search for given text could be faster.


                    </div>
                    <a href="https://www.novelvox.com/" target="_blank" class="card-link">Novelvox website</a>
                </div>
            </div>
            <!-- ./ KnowledgeBase -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-app">
                    <h5 class="card-title">CIPRUS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> HCL Infosystems Ltd <br>
                        <b>Duration: </b> Mar 2011 to Apr 2012
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Core Java, Swing, JDBC, JasperReports <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Added code for new requirements to create views in Swing and attach it with Backend DAO layer to save/retrieve data </li>
                            <li>Created methods in DAO persisten layer to save and retrieve data from database</li>
                        </ul>

                        <b>About Project:- </b> The Common Integrated Police Application (CIPA) is a multilingual application to automate the processes (workflow) at primary sources of data itself e.g. Police Station and to build a crime & criminal Information
                        system based on CrPC. It provides an efficient way of organizing crime records for generating queries/reports and crime analysis for decision support. <br> This is desktop application and can be installed in every police station.
                        <br> Once all report logged into system, various reports can be generated from same application.

                    </div>
                    <a href="https://www.hclinfosystems.in/about-us" target="_blank" class="card-link">HCLI website</a>
                </div>
            </div>
            <!-- ./ CIPRUS -->

            <div class="col-lg-12 col-md-6 card bg-light">
                <div class="card-body filter-app">
                    <h5 class="card-title">OSCART-Online Shopping Cart</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <b>Company: </b> GreenApple webware <br>
                        <b>Duration: </b> Sep 2009 to Feb 2011
                    </h6>
                    <div class="card-text">
                        <b>Technology Stack:- </b> Java/J2ee , JavaScript, Ajax , CSS <br>
                        <b>Role and Responsibilities:-</b>
                        <ul>
                            <li>Added code for new requirements for creating views in JSP and Servlets </li>
                            <li>Created methods in DAO persisten layer to save and retrieve data from database</li>
                        </ul>

                        <b>About Project:- </b> This project is for development of eCommerce website <b>OSCART</b>, where Admin can add new products. Also it has login for customers, who can search products of their choice and add them into cart. It has
                        also functionality to shop products from online transaction. <br> Role based, secure login is implemented in this product and application is deployed on Tomcat server hosted in on-premise Linux environment.

                    </div>
                    <a href="https://www.greenapplesolutions.com/" target="_blank" class="card-link">GreenApple website</a>
                </div>
            </div>
            <!-- ./ OSCART-Online Shopping Cart -->

        </div>

    </div>
</section>
<!-- End Portfolio Section -->