<div class="container">
    <h3>CLICK COUNTER (ONLINE REPLACEMENT FOR RUDRAKSH CHANTING)</h3>

    <!-- <div>{{clickDataList | json}}</div> -->

    <div class="row">

        <div class="col-lg-12 col-md-12">
            <h3>Current count : {{ countResult }}</h3>
        </div>

        <hr style="position: relative; top: 20px; border: none; height: 12px; background: black; margin-bottom: 50px;"/>
        <div 
        class="col-lg-12 col-md-12" 
        style="border: 2px solid greenyellow;border-radius: 12px;padding: 5px;  text-align: center;"
        (click)="onDivClick()">
            <h1>click anywhere in this area</h1>
        </div>

    </div>

    

    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>

</div>